.main {
  padding: 20px;
  background-color: rgb(226, 255, 255);
  min-height: 100vh;
  position: relative;
}

.margin {
  margin-right: 20px;
}

.textArea-width {
  width: 100%;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dropDown {
  float: right;
  width: 200px;
}

.dropDown-edit {
  position: absolute;
}

.taskGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  margin-top: 30px;
}

.tryBorder {
  border: 2px solid black;
}

.m {
  background-color: rgb(17, 255, 243);
}

.searchBarDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 20px;
}
